@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Medium.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/Orbitron-Black.ttf');
  font-style: normal;
  font-weight: 900;
}